<main>
  {{ content }}
</main>

<footer class="footer">
  {%- assign year_from = site.posts[-1].date | date: '%Y' -%}
  {%- assign year_to   = site.time | date: '%Y' -%}
  {%- if year_from == nil or year_from == year_to -%}
    {%- assign year_string = year_from -%}
  {%- else -%}
    {%- assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to -%}
  {%- endif -%}
  <small>
    <img src="https://www.hackthebox.eu/badge/image/209557" alt="fise c"> == $0

{% [ ![DrP1ng](https://www.hackthebox.eu/badge/image/209557)](https://www.hackthebox.eu/home/users/profile/209557) %}
  </small>
</footer>
